button {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
}

textarea {
    width: 152px;
    height: 44px;
    margin-bottom: -20px;
}

#zero {
    margin-left: 54px;
}

#back #clear{
    height: 55px;
    width: 55px;
}

#dev {
    margin-left: 54px;
}

#equals {
    width: 212px;

}